.App {
  color: white;
  text-align: right;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  min-width: 500px;
  padding: 20px;
}

.controls {
  margin-top: 75px;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
}

.image-container {
  width: 100%;
}

.rightBox {
  display: flex;
  align-items: center;
}

.copy-button-container {
  margin-left: 25px;
}

.font-green {
  color: #52c952;
}

.font-blue {
  color: #31a2ff;
}

.font-red {
  color: red;
}

.font-orange {
  color: orange;
}

.controls-right {
  background-color: #373c46;
  width: 100%;
  padding: 50px;
}

.image-main {
  margin-top: 20px;
  margin-bottom: 20px;
}

.controls-right-top {
  display: flex;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.my-svg {
  width: 80px;
  height: 80px;
}

.password-container {
  width: 100%;
}

.controll-buttons-container {
  display: flex;
  justify-content: space-between;
}

.bottom-text-container {
  margin-top: 80px;
  text-align: justify;
  font-weight: bold;
}

.bottom-text-container div {
  margin-top: 10px;
}
